       header
        {
             width: 100%;
             background-color: black;
             padding: 10px;
             height: 300px;
        }
        #logo 
        {
         float: left;
         margin: 0 auto;
         max-width: 960px;
         height: 200px;   
        }
        body
        {
         max-width: 960px;
         margin: 0 auto;
        }
        #k1
        {
         text-align: center;
        }
        #k2
        {
         text-align: center;
        }
        #k3
        {
         text-align: center;
        }
        .title{
         color: pink;
         font-size: 40px;
         padding-top: 130px;
         text-align: center;
        }  
        h1 
        {
         margin: 15px;
         color: gray;
         font-size: 200%;
         text-align: center;
         border: 1px solid black;
         background: pink;
         width: 960px;
        }
        table 
        {
         width: 600px; 
         height: 500px; 
         border-collapse: collapse; 
        }
        th, td {border: 1px solid black;}
        tr:nth-child(2n) {background: #e8edff;}
        footer.foot
        {
         border: 1px solid black;
         background: black;
         color: gray;
         width: 100%;
         height: 120px;
        }